//Rows

.rows {
    display:grid;
    justify-items:center;
    padding:10px;
    padding-top:40px;
    padding-bottom:90px;
    margin-left:30px;
    margin-right:30px;
    gap:20px;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color:$milkchocolate;
    
    grid-template-areas:
    "A1 A1 A2 . . . . ."
    "B1 B1 B1 B1 B1 B1 B1 B1"
    "C1 C1 C1 C1 C1 C1 C1 C1"
    "D1 D1 D1 D1 D1 D1 D1 D1"
    "E1 E1 E1 E1 E1 E1 E1 E1"
    "F1 F1 F1 F1 F1 F1 F1 F1"
    "G1 G1 G1 G1 G1 G1 G1 G1"
    "H1 H1 H1 H1 H1 H1 H1 H1"
    "I1 I1 I1 I1 I1 I1 I1 I1"
    "J1 J1 J1 J1 J1 J1 J1 J1"
    "K1 K1 K1 K1 K1 K1 K1 K1";
    }
    
    .row {
        width:100%;
        height:fit-content;
        border-radius:5%;
    }
    .row > h1, .row > h4, .row > p, .row > img {
        padding-left:12px;
    }
    
    .row:hover {
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            transition: opacity 1s ease-in-out;
            border-radius:5%;
          }
    
    #A1 {grid-area:A1; background-color:$peanutbutter;}
    #A2 {grid-area:A2; background-color:$peanutbutter;}
    #B1 {grid-area:B1; background-color:$hazelnut;}
    #C1 {grid-area:C1; background-color:$peanutbutter;}
    #D1 {grid-area:D1; background-color:$hazelnut;}
    #E1 {grid-area:E1; background-image:url("/images/mag.jpg"); height:800px; color:$vanilla;}
    #F1 {grid-area:F1; background-color:$hazelnut;}
    #G1 {grid-area:G1; background-color:$peanutbutter;}
    #H1 {grid-area:H1; background-color:$hazelnut;}
    #I1 {grid-area:I1; background-color:$peanutbutter;}
    #J1 {grid-area:J1; background-color:$hazelnut;}
    #K1 {grid-area:K1; background-color:$peanutbutter;}
    