// Variables

$blue: black;

$peanutbutter:#d6a055; 
$hazelnut:#97552f;
$creme:#e9cda2;
$vanilla:#eee4d4;
$transparentvanilla:#eee4d464;
$darkchocolate:#43282b;
$milkchocolate:#614141;

//need for icons, "New" button, div, "white" boxes, "grey" background", 
// bolder fonts, footer 



